/* Déplacements */
@keyframes slideRight {
  0% { left: -30%; }
  100% { left: 130%; }
}

@keyframes slideLeft {
  0% { left: 130%; }
  100% { left: -30%; }
}

@keyframes fall {
  0% { top: -30%; }
  100% { top: 130%; }
}

@keyframes rise {
  0% { top: 130%; }
  100% { top: -30%; }
}

/* Pulsation continue */
@keyframes bounceScale {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.25); }
}